:root {
	--accent: #FFFFFF;
	--title: #000545;
	--text: #393F4D;
}

body {
	padding: 0;
	margin: 0;
	font-family: 'Inter', sans-serif;
}

* {
	box-sizing: border-box;
}

/*general*/

.fashion-haus {
	max-width: 1440px;
	padding: 0 147px;
}

@media(max-width: 768px) {
	.fashion-haus {
		padding: 0 38px;
	}
}

/*header*/

.header-fashion {
	font-size: 27px;
	color: #000000;
	font-weight: 600;
	line-height: 100%;
	position: relative;
	margin: 30px 0 0 150px;
}

.header-fashion::after {
	content: "";
	height: 4px;
	width: 14px;
	background-color: #2945FF;
	position: absolute;
	bottom: 4px;
	right: -20px;
}

.header-general {
	display: flex;
	justify-content: space-between;
}

.navbar-menu {
	list-style-type: none;
  	margin: 0;
  	padding: 0;
	width: 100%;
	margin: 22px 147px 0 0;
}

.navbar-list {
	display: inline-block;
	padding:  25px 20px;
	cursor: pointer;
	border-radius: 24px;
}

.navbar-link {
	text-decoration: none;
	color: #000000;
	font-size: 15px;
}

.navbar-list:hover {
	background-color: #2945FF;
}

.navbar-list:hover .navbar-link {
	color: #FFF;
}

@media(max-width: 1280px) {
	.navbar {
		width: 50%;
	}
}

@media(max-width: 768px) {
	.navbar-menu {
		display: none;
	}

	.navbar {
		display: none;
	}

	.header-fashion {
		font-size: 23px;
		margin-left: 38px;
		width: 100%;
	}

	.header-fashion::after {
		width: 12px;
		height: 3.5px;
		right: 20px;
	}
}

.fa-solid {
	color: #2945FF;
	margin-top: 35px;
	margin-right: 38px;
	cursor: pointer;
}

@media(min-width: 768px) {
	.fa-solid {
		display: none;
	}
}

/* main */
/* section fashion*/

.section-fashion {
	width: 100%;
	height: 100%;
	margin: 60px auto;
	display: flex;
}

.article-img {
	width: 100%;
	padding-top: 63%;
	position: relative;
	background-image: url(photo/fashion.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.title {
	color: var(--title);
	font-size: 68px;
	line-height: 75px;
	letter-spacing: -3%;
	width: 80%;
	margin: 24px 0 50px 0;
}

.article-text {
	color: var(--text);
	font-size: 18px;
	line-height: 30px;
	letter-spacing: -3%;
	width: 75%;
}

.article-photo-first {
	position: absolute;
	top: -34px;
	left: -33px;
	z-index: -1;
}

.article-photo-second {
	position: absolute;
	bottom: -33px;
	right: -23px;
}

.learn-more {
	background: #2945FF;
	border-radius: 100px;
	height: 56px;
	border: none;
	width: 178px;
	color: #FFFFFF;
	font-size: 18px;
	cursor: pointer;
}

@media (max-width: 768px) {
	.section-fashion {
		flex-direction: column-reverse;
	}

	.article-img {
		padding-top: 150%;
		background-position: inherit;
		margin-bottom: 50px;
	}

	.article {
		padding: 0;
	}
	
	.title {
		font-size: 0;
		line-height: 57px;
		width: 100%;
	}

	.title:after {
		font-size: 51px;
		line-height: 57px;
		font-weight: 600;
		letter-spacing: -0.03em;
		margin: 0;
		content: 'Fashion fits for all the Stylers';
	}
	
	.article-text {
		width: 100%;
		font-size: 16px;
		line-height: 24px;
		font-weight: 400;
		letter-spacing: -0.03em;
	}

	.article-photo-first {
		width: 75px;
		top: -22px;
		left: -20px;
	}

	.article-photo-second {
		width: 75px;
		right: -15px;
		bottom: -19px;
	}

	.learn-more {
		width: 100%;
	}
}

/* section news reel*/

.section-news-reel {
	margin-top: 199px;
}

.information {
	font-weight: 600;
	font-size: 24px;
	line-height: 32px;
	letter-spacing: -0.03em;
	color: #2945FF;
}

.news-reel-article {
	display: flex;
	margin-top: 149px;
}

.news-reel-img {
	background-image: url(photo/rectangle-7.png);
	left: 47px;
	top: 91px;
}

.news-reel-photo {
	top: -98px;
	left: -47px;
}

.title-wrapper {
	margin: 70px 0 0 144px;
}

.title-media {
	margin: 0;
}

.article-date {
	font-weight: 700;
	font-size: 16px;
	line-height: 25px;
	letter-spacing: -0.03em;
	color: #A5AEED;
}

.text-wrapper {
	width: 80%;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 40px;
}

.title-second {
	color: #2945FF;
	font-size: 16px;
	position: relative;
	cursor: pointer;
	border: none;
	background-color: unset;
}

.title-second::before {
	content: "";
	position: absolute;
	width: 21px;
	height: 2px;
	background-color: #2945FF;
	bottom: -13px;
	left: 5px;
}

@media(max-width: 768px) {

	.section-news-reel {
		margin-top: 111px;
	}

	.news-reel-article {
		flex-direction: column;
		margin-top: 63px;
}

	.news-reel-img {
		top: 0;
		left: 0;
		padding-top: 150%;
	}

	.news-reel-img:before {
		content: url('photo/group-78.png');
		position: absolute;
		top: -23px;
		right: -15px;
		z-index: -1;
	}

	.news-reel-img:after {
		content: url('photo/group-78.png');
		position: absolute;
		bottom: -18px;
		left: -19px;
		z-index: -1;
	}

	.news-reel-photo {
		display: none;
	}

	.article-date {
		display: none;
	}

	.title {
		font-size: 38px;
		width: 100%;
		font-weight: 600;
		line-height: 111%;
	}

	.title:after {
		display: none;
	}

	.title-wrapper {
		margin: 0;
	}

	.title-media {
		font-size: 0;
		width: 100%;
	}

	.title-media:before {
		font-size: 51px;
		line-height: 57px;
		font-weight: 600;
		letter-spacing: -0.03em;
		content: 'Fashion fits for all the Stylers';
	}

	.article-text {
		width: 100%;
	}

	.text-media {
		display: none;
	}
}

/*section the best pics*/

.article-3 {
	display: flex;
}

.article-img-3 {
	background-image: url("photo/rectangle-9.png");
}

@media(max-width: 768px) {
	.article-3 {
		flex-direction: column-reverse;
	}	

	.article-img-3::after {
		content: url('photo/group-78.png');
		position: absolute;
		bottom: -21px;
		right: -13px;
		z-index: -1;
	}

	.article-group {
		top: -22px;
		left: -18px;
	}

	.title-media-second {
		font-weight: 600;
		font-size: 47px;
		line-height: 111%;
	}
}

/* section bags */ 

.section-bags {
	margin-top: 150px;
}

.info {
	width: 100%;
	color: #2945FF;
	font-size: 24px;
	margin: 0;
}

.header {
	color: var(--title);
	font-size: 38px;
}

.link {
	color: #000545;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	text-decoration: none;
	border-radius: 24px;
	padding: 30px 19px 59px 20px;
}

.bags-title {
	font-size: 24px;
}

.link:hover {
	background: #2945FF;
}

.link:hover .title-text {
	color: var(--accent);
}

.link:hover .title-second::before {
	background: #FFFFFF;
}

@media (min-width: 400px) {

	.header {
		text-align: center;
	}

	.info {
		text-align: center;
	}
}

@media (min-width: 768px) {

	.header {
		text-align: left;
	}

	.info {
		text-align: left;
	}

	.article-bags {
		display: flex;
		margin-top: 87px;
	}

	.link {
		align-items: flex-start;
		text-align: left;
		padding: 29px 19px 59px 45px;
	}

	.bags-text {
		text-align: left;
		font-weight: 400;
		font-size: 14px;
		line-height: 28px;
		letter-spacing: -0.03em;
		color: #393F4D;
	}
}

/* section reviews */

.main-reviews {
    padding: 55px 0;
}

.information {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.03em;
    color: #2945FF;
    margin: 0;
	margin-top: 170px ;
}

.header {
    color: #000545;
    font-weight: 600;
    font-size: 51px;
    line-height: 111%;
    letter-spacing: -0.03em;
    margin: 26px 0 68px 0;
    max-width: 408px;
}

.section {
    display: flex;
	gap: 34px;
    overflow-x: auto;
}

.article-reviews {
    text-align: center;
    background: #FFFFFF;
    border: 0.745208px solid rgba(219, 179, 120, 0.4);
    border-radius: 12.6685px;
    padding: 25px 56px;
}

.article-header {
    font-size: 34px;
    color: #000545;
}

.article-header-second {
    color: #2945FF;
    font-size: 18px;
}

.article-reviews-img {
    border-radius: 50%;
}

.text {
    width: 352px;
    font-weight: 300;
    font-size: 13.8552px;
    line-height: 26px;
    text-align: center;
    letter-spacing: -0.03em;
    color: #393F4D;
}

.submit {
    background: #FFFFFF;
    border: 0.694639px solid #2945FF;
    border-radius: 69.4639px;
    width: 208px;
    height: 56px;
    color: #2945FF;
    font-size: 18px;
	cursor: pointer;
}
@media(max-width: 768px) {

    .main-reviews {
        margin: 0;
		padding: 0;
    }

    .header {
        width: 100%;
        margin: 14px 0 23px 0;
        font-size: 38px;
    }

    .article {
        width: 301px;
        padding: 24px 17px;
    }

    .article-reviews-img {
        width: 75px;
    }

	.article-reviews {
		padding: 17px 17px 24px 17px;
		margin: 0 14px 0 0;
		width: 100%;
	}

    .article-header {
        width: 100%;
        font-size: 24px;
    }

    .text {
        width: 265px;
        font-size: 12px;
    }

    .submit {
        width: 100%;
    }
}

/* section Join */


.section-img {
	margin: 130px auto;
	position: relative;
	width: 100%;
	max-width: 1440px;
}

.img-bg {
	background-image: url("photo/image-15.png");
	width: 100%;
	padding-top: 60%;
  	background-repeat: no-repeat;
	background-position: center;
    background-size: cover;
}

.img-wrapper {
	position: absolute;
	color: var(--accent);
	width: 360px;
	bottom: 10%;
	right: 10%;
}

.img-title {
	font-size: 68px;
	letter-spacing: -0.03em;
	font-weight: 600;
	line-height: 111%;
}

.img-text {
	font-size: 18px;
	line-height: 30px;
}

.click {
	background-color: #2945FF;
	border-radius: 100px;
	height: 56px;
	width: 178px;
	border: none;
	color: var(--accent);
	cursor: pointer;
}

.section-img::before {
	content: " ";
	width: 93%;
	height: 78%;
	background: #2945FF;
	position: absolute;
	top: -24px; 
	right: -38px;
	z-index: -1;
}

.photo-group-first {
	position: absolute;
	top: -20px;
	left: -20px;
	z-index: -1;
}

.photo-group-second {
	position: absolute;
	bottom: -50px;
	right: -34px;
	z-index: -1;
}

@media (max-width: 1280px) {
	
	.img-wrapper{
		width: 30%;
	}

	.img-title {
		font-size: 24px;
	}

	.img-text {
		font-size: 12px;
	}
}


@media (max-width: 768px) {

	.section-img {	
		position: static;
	}

	.img-wrapper {
		position: static;
		background-color: #2945FF;
		padding: 21px 13px;
		width: 100%;
	}

	.img-title {
		font-size: 33px;
		width: 100%;
		margin: 0;
	}

	.img-text {
		font-size: 10px;
		line-height: 173%;
		width: 100%;
	}

	.click {
		border: 1px #FFFFFF solid;
		width: 100%;
	}

	.section-img::before {
		display: none;
	}

	.photo-group-first {
		display: none;
	}

	.photo-group-second {
		display: none;
	}
}

/* section brands */

.article-brands {
	display: grid;
	grid-template-columns: repeat(3 , 1fr);
	grid-template-rows: repeat(2 , 1fr);
	gap: 16px;
}

.brands {
	border: 1px solid black;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #FFFFFF;
}

.brands-img-lv {
	filter: invert(100%);
}

.brands:hover {
	background: #2945FF;	
}

.brands:hover .brands-img-lv {
	filter:invert(0)
}

.brands:hover .brands-new {
	filter: invert(100%);
}

@media(max-width: 768px) {
	.article-brands {
		grid-template-columns: repeat(2 , 1fr);
		grid-template-rows: repeat(3 , 1fr);
	}

	.brands {
		width: 100%;
		padding: 15px 35px;
	}

	.brands-img {
		width: 100%;
	}
}

/* section-news*/

.news-text {
	text-align: center;
	padding: 0 150px;
	margin-top: 104px;
}

.header-news {
	font-weight: 600;
	font-size: 34px;
	line-height: 38px;
	letter-spacing: -0.03em;
	color: var(--title);

}

.text-news {
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;
	letter-spacing: -0.03em;
	color: var(--text);
}

.section-news {
	display: flex;
	justify-content: space-between;
	margin-top: 87px;
}

.article-news {
	position: relative;
	background-image: url(photo/rectangle-23.png);
	background-repeat: no-repeat;
	padding-top: 63%;
	width: 100%;
}


.photo-group-news {
	position: absolute;
	top: -32px;
	left: -48px;
	z-index: -1;
}

.line {
	width: 438px;
	border: 1px solid #E2E2E2;
}

.circle {
	border: 2px solid #DBDBDB;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	position: relative;
	margin-top: 23px;
}

.circle-1::after {
	content: "";
	width: 24px;
	height: 4px;
	background-color: #2945FF;
	position: absolute;
	top: 21px;
	left: 11px;
	margin-right: 23px;
}

.line-first {
	display: flex;
}

.views-info {
	margin-left: 23px;
}

.views-header {
	font-weight: 600;
	font-size: 24px;
	line-height: 32px;
	letter-spacing: -0.03em;
	max-width: 370px;
}

.views-text {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.03em;
	max-width: 349px;
}

.line-second {
	margin-top: 34px;
}

.circle-2 {
	background: #2945FF;
	position: relative;
}

.circle-2::before {
	content: "";
	background-color: #FFFFFF;
	width: 4px;
	height: 24px;
	position: absolute;
	top: 10px;
	left: 20px;
}

.circle-2::after {
	content: "";
	background-color: #FFFFFF;
	width: 24px;
	height: 4px;
	position: absolute;
	top: 20px;
	left: 10px;
}

@media(max-width: 768px) {
	
	.section-news {
		flex-direction: column;
	}

	.news-text {
		text-align: left;
		padding: 0;
	}

	.header-news {
		width: 100%;
	}

	.text-news {
		width: 100%;
	}

	.article-news {
		background-size: cover;
		padding-top: 150%;
		margin-left: 32px;
	}

	.photo-group-news {
		width: 84px;
		top: -23px;
		left: -32px;
	}

	.article-views {
		margin-top: 44px;
	}

	.line {
		width: 100%;
	}

	.views-header {
		width: 100%;
	}

	.views-text {
		margin: 0;
		width: 100%5
	}

	.title-news {
		display: none;
	}

	.views-info {
		margin: 0;
	}

	.line-first {
		gap: 30px;
	}

	.circle {
		width: 78px;
	}
}

/* section-icon */

.section-icon {
	display: flex;
	justify-content: space-between;
	margin-top: 150px;
}

.article-chat {
	text-align: center;
}

.icon-number {
	font-weight: 600;
	font-size: 69.7895px;
	line-height: 111%;
	letter-spacing: -0.03em;
	color: var(--title);
	margin: 23px 0 0 0;
	position: relative;
}

.icon-text {
	font-weight: 600;
	font-size: 18px;
	line-height: 133%;
	letter-spacing: -0.03em;
	width: 194px;
}

.icon-text-reviews {
	color: #2945FF;
}

.icon-number-slash::after {
	content: "th";
	font-size: 35px;
	top: -15px;
	position: absolute;
}

@media(max-width: 768px) {
	.section-icon {
		flex-direction: column;
		padding: 0 65px;
		margin-top: 110px;
	}

	.icon-text {
		width: 100%;
		margin-bottom: 60px;
	}
}

/* footer */

.footer {
	margin-top: 110px;
	display: flex;
	justify-content: space-evenly;
	max-width: 1440px;
}

.footer-header {
	position: relative;
	font-weight: 600;
	font-size: 16.7003px;
	line-height: 100%;
	letter-spacing: -0.03em;
	color: #000000;
}

.footer-header::after {
	content: "";
	height: 2px;
	width: 9px;
	background-color: #2945FF;
	position: absolute;
	bottom: 4px;
	left: 110px;
}

.footer-text {
	font-weight: 400;
	font-size: 10px;
	line-height: 12px;
	color: #000545;
}


.footer-menu-item {
	list-style-type: none;
	padding: 0;
	color: #000545;
	font-weight: 400;
		font-size: 12px;
	line-height: 15px;
}

.footer-menu {
	display: grid;
	grid-template-columns: repeat(4 , 1fr);
	gap: 60px;
}

.footer-menu-header {
	color: #000545;
	font-weight: 600;
	font-size: 16px;
	line-height: 19px;
}

@media(max-width: 768px) {
	.footer {
		flex-direction: column-reverse;
		padding: 0 47px 0 54px;
	}

	.footer-menu {
		grid-template-columns: repeat(2 , 1fr);
	}

	.footer-title {
		display: flex;
		justify-content: space-between;
		margin-top: 52px;
		width: 100%;
	}

	.footer-text {
		margin-top: 20px;
	}
}

.footer-line {
	width: 100%;
	height: 8px;
	background: #2945FF;
	margin-top: 60px;
}

/* contact-us */

.contact-us-img {
	background-image: url(photo/fashion.png);
	padding-top: 40%;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
}

.contact-form {
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
}

@media(min-width: 768px) {
.form-row {
	display: grid;
	grid-template-columns: repeat(2 , 1fr);
	column-gap: 30px;
	}

	.contact-form {
		display: grid;
		row-gap: 20px;
	}
}

.input-control {
	position: relative;
}

.input {
	border: 1px solid grey;
	padding: 10px 20px;
	border-radius: 8px;
	margin-bottom: 30px;
	width: 100%;
}

.input:focus-visible {
	outline-color: var(--title);
}

.label {
	position: absolute;
	left: 20px;
	transform: translatey(7px);
	color: #bbb8b8;
	background-color: #FFFFFF;
	transition: all 0.3s;
	padding: 3px 5px;
}

.input:focus + .label {
	color: var(--title);
	font-size: 16px;
	transform: translatey(-10px) scale(0.8);
}

